{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quotes": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "filepath": "./src",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "requirePragma": false
}